<header class='header-all'>
  <div class='nav'>
    <ul class='header-lists'>
      <%# <% if user_signed_in? %>
      <li><%= link_to "TOMさん", "", class: "top-list" %></li>
      <li><%= link_to 'ログアウト', "", method: :delete, class: "top-list" %></li>
      <%# <% else %>
      <li><%= link_to 'ログイン', "", class: "top-list" %></li>
      <li><%= link_to '新規登録', "", class: "top-list" %></li>
      <%# <% end %>
      <li><%= link_to 'トップページ', "", class: "top-list" %></li>
      <li><%= link_to '索引', "", class: "top-list" %></li>
      <li><%= link_to 'カテゴリ', "", class: "top-list" %></li>
      <li><%= link_to '投稿する', "", class: "top-list" %></li>
    </ul>
  </div>
</header>