<%= render "shared/header" %>
<h3>検索ページ</h3>
<h3><%= link_to 'トップページへ戻る', root_path%></h3>
<div class='item-contents' id="detailed-search-result-wrapper">
  <%= search_form_for @q, url: search_posts_path, html: {id: "detailed-search-form"} do |f| %>
    <div class="search-field">
      <%= f.label :title_cont, '商品名' %>
      <br>
      <%= f.text_field :title_cont, placeholder: '商品名', value: params[:q]&.dig(:title)  %>
    </div>
    <div class="search-field">
      <%= f.label :genre_id_eq, 'カテゴリ' %>
      <br>
      <%= f.collection_radio_buttons(:genre_id_eq, Genre.all, :id, :name) %>
    </div>
    <%= f.submit '検索' %>
  <% end %>
    <ul class='item-lists' id="detailed-search-result">
    <% @posts.each do |post| %>
      <li class='list'>
        <div class="posted-content">
          <%= image_tag post.image %><br>
          <%= post.title%><br>
          <%= link_to '詳細', post_path(post.id)%>
        </div>
      </li>
    <% end %>
  </ul>
</div>